/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */

/* * is a wildcard referring to all elements. */
* { margin: 0; box-sizing: border-box; }

body {
    font-size: 16px;
    line-height: 32px;
    font-family: sans-serif;
    color: blueviolet;
}

h1 {
    font-size: 2.5xrem;
    color: blueviolet;
}

h2 {
    font-size: 2.5xrem ;
    text-align: justify;
    border-bottom: 1px solid #bbb;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: .5px;
}

header, footer, footer a {
    text-align: justify;
    background-color:blue;
    color: white;
}

header img {
    width:30xrem;
    height: auto;
    float: right;
}

footer {
    font-size:10px;
}
